@page "/departmentdetail/{id}"


<h1>Department List</h1><br />

<div class="card-deck">
    <div class="card border-secondary mb-6" style="min-width: 18rem; max-width:40%">
        <div class="card-body">

            <p class="card-text">1. Department Id : @Department.DepartmentId</p>
            <p class="card-text">2. DepartmentName: @Department.DepartmentName</p>
        </div>
    </div>
</div><br />
<div><a href="departmentpage"><button type="button" class="btn btn-dark btn-lg">Back</button></a></div>
